SECRET_KEY=django-insecure-n7EBed_rM1ieXwuViBc2q5U_zli3PalGLxQBCm_BldgMeQrsJvGHqu_Qno_9LhcD_qI
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DISCORD_WEBHOOK_COMMISSION=https://discord.com/api/webhooks/1475821603580285101/9YcUvy3UiFuIzlKTVDEB-f_iIw-H13IQn0WoJjCOmNoIVz1YVRfU_d3Q2PFrRiMyenid
DISCORD_WEBHOOK_CONTACT=https://discord.com/api/webhooks/1475821822946574398/Ru_2iCxiYfYM1-QtA1zSPtkH_o96fmULyiLYyvv92bidb-1L0aC93yNCj5ud3lfNMXw5
DISCORD_WEBHOOK_ORDER=https://discord.com/api/webhooks/1475821967624900731/lETrQUmanphkHkVYUu6uqNppVH_ZbRRIP3JfO0uaNGr59A02nMxxouqO2agxOffYB_mm

FRONTEND_URL=http://localhost:5500
